<h2>Checkout</h2>
<%= @user.address %>

<%= form_for @order, url: checkout_path do |f| %>
  <div class="form-group">
    <%= f.fields_for :user do |user_form| %>
      <%= user_form.collection_select(:address_id, Address.all, :id, :title,
                                  {
                                    selected: 3,
                                    include_blank: false
                                  },
                                  class: "form-control"
        ) %>
    <% end %>
  </div>
    <%= f.submit "Checkout" %>
<% end %>


<%= link_to 'Izberi address', edit_user_path(@user),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<%= link_to 'Add address', new_address_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<div id="modal-window" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
