<!DOCTYPE html>
<html>
  <head>
    <title>Shopper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar'%>
    <%= render 'shared/slider' if current_page?(root_path)%>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="">

      </div>
    </footer>
  </body>
</html>
